@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>APPMIGOS</h1>
    <p class="lead">La aplicación de amigos que te permite violar la privacidad de tus seres más queridos</p>
    <p><a href="/Amigo" class="btn btn-primary btn-large">Aplicación Amigos &raquo;</a></p>
</div>